version: '3.7'
name: ory-poc
services:
  kratos-migrate:
    image: oryd/kratos:latest
    environment:
      - DSN=sqlite:///var/lib/sqlite/db.sqlite?_fk=true&mode=rwc
    volumes:
      - type: volume
        source: kratos-sqlite
        target: /var/lib/sqlite
        read_only: false
      - type: bind
        source: ./contrib/quickstart/kratos/email-password
        target: /etc/config/kratos
    command: -c /etc/config/kratos/kratos.yml migrate sql -e --yes
    restart: on-failure
    networks:
      - intranet
  kratos-selfservice-ui-node:
    image: oryd/kratos-selfservice-ui-node:latest
    environment:
      - KRATOS_PUBLIC_URL=http://kratos:4433/
      - PORT=4435
      - KRATOS_BROWSER_URL=http://127.0.0.1:4455/.ory/kratos/public
      - JWKS_URL=http://oathkeeper:4456/.well-known/jwks.json
      - SECURITY_MODE=jwks
    networks:
      - intranet
    restart: on-failure
    ports:
      - '4435:4435'
  kratos:
    depends_on:
      - kratos-migrate
    image: oryd/kratos:latest
    ports:
      - '4433:4433' # public
      - '4434:4434' # admin
    restart: unless-stopped
    environment:
      - DSN=sqlite:///var/lib/sqlite/db.sqlite?_fk=true
      - LOG_LEVEL=trace
      - SERVE_PUBLIC_BASE_URL=http://127.0.0.1:4455/.ory/kratos/public/
    command: serve -c /etc/config/kratos/kratos.yml --dev --watch-courier
    volumes:
      - type: volume
        source: kratos-sqlite
        target: /var/lib/sqlite
        read_only: false
      - type: bind
        source: ./contrib/quickstart/kratos/email-password
        target: /etc/config/kratos
    networks:
      - intranet
  oathkeeper:
    image: oryd/oathkeeper:latest
    depends_on:
      - kratos
    ports:
      - 4455:4455
      - 4456:4456
    command:
      serve proxy -c "/etc/config/oathkeeper/oathkeeper.yml"
    environment:
      - LOG_LEVEL=debug
    restart: on-failure
    networks:
      - intranet
    volumes:
      - ./contrib/quickstart/oathkeeper:/etc/config/oathkeeper

  keto-migrate:
    image: oryd/keto:v0.10.0-alpha.0
    links:
      - postgresd:postgresd
    volumes:
      - type: bind
        source: ./config
        target: /home/ory
    environment:
      - LOG_LEVEL=debug
      - DSN=postgres://dbuser:secret@postgresd:5432/accesscontroldb?sslmode=disable
    command: ["migrate", "up", "-y"]
    restart: on-failure

  keto-init:
    image: oryd/keto:v0.7.0-alpha.1-sqlite
    environment:
      - KETO_WRITE_REMOTE=keto:4468
    volumes:
      - type: bind
        source: ./contrib/quickstart/keto
        target: /home/ory
    command: relation-tuple create /home/ory/relation-tuples
    restart: on-failure

  keto:
    image: oryd/keto:latest
    links:
      - postgresd:postgresd
    volumes:
      - type: bind
        source: ./contrib/quickstart/keto
        target: /home/ory
    ports:
      - "4465:4466"
      - "4468:4467"
    depends_on:
      - keto-migrate
    environment:
      - DSN=postgres://dbuser:secret@postgresd:5432/accesscontroldb?sslmode=disable
      - TRACING_PROVIDER=jaeger
      - TRACING_PROVIDER_JAEGER_SAMPLING_SERVER_URL=http://jaeger:5778/sampling
      - TRACING_PROVIDER_JAEGER_LOCAL_AGENT_ADDRESS=jaeger:6831
    restart: on-failure
    networks:
      - intranet
    command: serve -c /home/ory/keto.yml

  jaeger:
    image: jaegertracing/all-in-one:1.7.0
    ports:
      - "5775:5775/udp"
      - "6831:6831/udp"
      - "6832:6832/udp"
      - "5778:5778"
      - "16686:16686"
      - "14268:14268"
      - "9411:9411"

  postgresd:
    image: postgres:9.6
    environment:
      - POSTGRES_USER=dbuser
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=accesscontroldb

  mailslurper:
    image: oryd/mailslurper:latest-smtps
    ports:
      - '4436:4436'
      - '4437:4437'
    networks:
      - intranet
networks:
  intranet:
volumes:
  kratos-sqlite:
